<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
              max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>할일 등록</h2>
    </div>
    <h4 class="mb-3">할일 입력</h4>
    <form action="todo.html" th:action method="post">
<!--    같은 URL로 오더라도 PostMapping의 메서드가 호출됨. 그래서 th:action 뒤를 비워도 됨 -->
        <div>
            <label for="todoTitle">할일 제목</label>
            <input type="text" id="todoTitle" name="todoTitle" class="form-control" placeholder="할일 제목을 입력하세요">
        </div>
        <div>
            <label for="todoBody">할일 내용</label>
            <input type="text" id="todoBody" name="todoBody" class="form-control" placeholder="할일의 내용을 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">할일 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='todos.html'"
                        th:onclick="|location.href='@{/basic/todos}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
