<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.editTodo}">할일 수정</h2>
    </div>
    <form action="todo.html" th:action th:object="${todo}" method="post">
        <div>
            <label for="todoId" th:text="#{label.todo.todoId}">할일 ID</label>
            <input type="text" id="todoId" class="form-control" th:field="*{todoId}" readonly>
        </div>
        <div>
            <label for="todoTitle" th:text="#{label.todo.todoTitle}">할일 제목</label>
            <input type="text" id="todoTitle" class="form-control" th:field="*{todoTitle}">
        </div>
        <div>
            <label for="todoBody" th:text="#{label.todo.todoBody}">할일 내용</label>
            <input type="text" id="todoBody" class="form-control" th:field="*{todoBody}">
        </div>
        <hr class="my-4">
        <div>완료 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="*{done}" class="form-check-input">
                <label for="open" class="form-check-label">완료 check</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        type="submit"
                        th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='todo.html'"
                        th:onclick="|location.href='@{/basic/todos/{todoId}(todoId=${todo.todoId})}'|"
                        type="button"
                        th:text="#{button.cancel}">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
