<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 --> <script>
      var name = [[${member.name}]];
      var email = [[${member.email}]];
//자바스크립트 내추럴 템플릿
var name2 = /*[[${member.name}]]*/ "test name";
//객체
      var member = [[${member}]];
  </script>
<!-- 자바스크립트 인라인 사용 후 --> <script th:inline="javascript">
      var name = [[${member.name}]];
      var email = [[${member.email}]];
//자바스크립트 내추럴 템플릿
var name2 = /*[[${member.name}]]*/ "test name";
//객체
      var member = [[${member}]];
  </script>
<!-- 자바스크립트 인라인 each --> <script th:inline="javascript">
      [# th:each="member, stat : ${members}"]
      var member[[${stat.count}]] = [[${member}]];
      [/]
</script>

</body>
</html>