<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SpringEL 표현식</h1>
<ul>Object
    <li>${member.name} =      <span th:text="${member.name}"></span></li>
    <li>${member['name']} =   <span th:text="${member['name']}"></span></li>
    <li>${member.getName()} = <span th:text="${member.getName()}"></span></li>
</ul>
<ul>List
    <li>${members[0].name} =      <span th:text="${members[0].name}"></span></li>
    <li>${members[0]['name']} =   <span th:text="${members[0]['name']}"></span></li>
    <li>${members[0].getName()} = <span th:text="${members[0].getName()}"></span></li>
</ul>
<ul>Map
    <li>${memberMap['memberA'].name} =      <span th:text="${memberMap['memberA'].name}"></span></li>
    <li>${memberMap['memberA']['name']} =   <span th:text="${memberMap['memberA']['name']}"></span></li>
    <li>${memberMap['memberA'].getName()} = <span th:text="${memberMap['memberA'].getName()}"></span></li>
</ul>
<h1>지역 변수 - (th:with)</h1>
<div th:with="first=${members[0]}">
    <p>처음 사용회원의 이름은 <span th:text="${first.name}"></span></p>
</div>
</body>
</html>